<div th:fragment="boardFrag" id="board" xmlns:th="http://www.w3.org/1999/xhtml" style="margin-top:2%">

    <th:block th:if="${game!=null}">
        <input type="hidden" id="gameId" th:value="${game.id}">
        <input type="hidden" id="wordLength" th:value="${game.wordLength}">
        <input type="hidden" id="gameStatus" th:value="${game.status.name}">
    </th:block>

    <div style=" height: 90vh;width: 90vw;margin:2% auto">
        <div class="row" th:each="i : ${#numbers.sequence(1,game.roundCount)}"
             style="width:90%;margin:2% auto;display: flex;justify-content: center;align-items: center;">
            <th:block th:if="${i==#lists.size(game.answers)+1}">
                <th:block th:each="letterNumber : ${#numbers.sequence(1,game.wordLength)}">
                    <span class="badge badge-light" style="font-size:5rem;margin-left:1%;display: inline-block"
                          th:id="${game.status.name!='FINISHED' ? 'letter' + letterNumber : ''}">_</span>
                </th:block>
            </th:block>
            <th:block th:if="${#lists.size(game.answers)<i && i!=#lists.size(game.answers)+1}">
                <th:block th:each="letter : ${#numbers.sequence(1,game.wordLength)}">
                    <span class="badge badge-light" style="font-size:5rem;margin-left:1%;display: inline-block">_</span>
                </th:block>
            </th:block>
            <th:block th:if="${#lists.size(game.answers)>=i && i!=#lists.size(game.answers)+1}">
                <th:block th:each="letter : ${game.answers[i-1].letters}">
                    <span th:text="${letter.letter}" style="font-size:5rem;margin-left:1%;display: inline-block"
                          th:class="${'badge badge-' + (!letter.correctPosition && !letter.existsInWord ? 'secondary' : letter.correctPosition ? 'success' : letter.existsInWord ? 'warning' : '')}"
                    ></span>
                </th:block>
            </th:block>

        </div>
        <h1 style="text-align:center" th:if="${game.status.name=='FINISHED'}" th:text="${game.resultMessage}"></h1>
    </div>
</div>