<div th:fragment="boardFrag" id="board" xmlns:th="http://www.w3.org/1999/xhtml" style="margin-top:2%">

    <th:block th:if="${game!=null}">
        <input type="hidden" id="gameId" th:value="${game.id}">
        <input type="hidden" id="wordLength" th:value="${game.wordLength}">
        <input type="hidden" id="gameStatus" th:value="${game.status.name}">
    </th:block>

    <div style=" height: 90vh;width: 90vw;margin:2% auto">

        <h1 style="text-align:center" th:if="${game.status.name=='FINISHED'}" th:text="${game.resultMessage}"></h1>

        <div class="row" th:each="i : ${#numbers.sequence(1,game.roundCount)}"
             style="width:90%;margin:2% auto;display: flex;justify-content: center;align-items: center;">
            <th:block th:if="${i==#lists.size(game.answers)+1}">
                <th:block th:each="letterNumber : ${#numbers.sequence(1,game.wordLength)}">
                    <span class="badge badge-light" style="font-size:2.5rem;margin-left:1%;display: inline-block"
                          th:id="${game.status.name!='FINISHED' ? 'letter' + letterNumber : ''}">_</span>
                </th:block>
            </th:block>
            <th:block th:if="${#lists.size(game.answers)<i && i!=#lists.size(game.answers)+1}">
                <th:block th:each="letter : ${#numbers.sequence(1,game.wordLength)}">
                    <span class="badge badge-light" style="font-size:2.5rem;margin-left:1%;display: inline-block">_</span>
                </th:block>
            </th:block>
            <th:block th:if="${#lists.size(game.answers)>=i && i!=#lists.size(game.answers)+1}">
                <th:block th:each="letter, iter : ${game.answers[i-1].letters}">
                    <span
                          th:id="${#lists.size(game.answers)==i ? ('lastAnswer' + iter.count) : ''}"
                          th:text="${#lists.size(game.answers)!=i ? letter.letter : '_'}"
                          th:attr="letter=${letter.letter}, badge=${'badge badge-' + (letter.status.name=='USED' ? 'secondary' : letter.status.name=='CORRECT' ? 'success' : letter.status.name=='EXISTING' ? 'warning' : '')}"
                          style="font-size:2.5rem;margin-left:1%;display: inline-block"
                          th:class="${#lists.size(game.answers)!=i ? ('badge badge-' + (letter.status.name=='USED' ? 'secondary' : letter.status.name=='CORRECT' ? 'success' : letter.status.name=='EXISTING' ? 'warning' : '')) : 'badge badge-light'}"
                    >_</span>
                </th:block>
            </th:block>

        </div>

        <hr class="rounded" style=" border-top: 8px solid #bbb; border-radius: 5px;">

        <div class="row"`
             style="width:90%;margin:2% auto;display: flex;justify-content: center;align-items: center;">
            <th:block th:each="entry : ${game.lettersStatus}">
                    <span th:class="${'badge badge-' + (entry.value.name=='USED' ? 'secondary' : entry.value.name=='CORRECT' ? 'success' : entry.value.name=='EXISTING' ? 'warning' : '')}"
                            style="font-size:2rem;margin-left:1%;display: inline-block"
                          th:text="${entry.key}"></span>
            </th:block>
        </div>

    </div>
</div>